@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
    color: white;
    margin: 0;
}

.container {
    display: flex;
    margin: 15px 15px 0px 15px;
}

.left {
    width: 20vw;
}

.home {
    background-color: #121212;
    padding: 5px 0;

}

.close {
    display: none;
}

.hamburger img {
    display: none;
}

.logo {
    margin-left: 12px;
}

.home ul li {
    display: flex;
    justify-content: center;
    width: 14px;
    list-style: none;
    padding-top: 10px;
    gap: 10px;
}

.home ul :nth-child(2) {
    margin-left: 3px;
}

.library {
    min-height: 83vh;
    position: relative;
    width: 20vw;
    background-color: #121212;
    margin-top: 8px;
}

.heading {
    display: flex;
    align-items: center;
    gap: 10px;

}

.heading>img {
    margin-left: 12px;
}

.footer {
    display: grid;
    text-align: center;
    grid-template-columns: 60px 60px 60px;
    font-size: 9px;
    padding: 10px 0;
    gap: 5px;
    position: absolute;
    bottom: 0;
}

.footer a {
    color: grey;
}

.invert {
    filter: invert(1);
}

.right {
    width: 80vw;
    background-color: #121212;
}

.right {
    margin-left: 8px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f1f1f;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 24px;
    height: 24px;
}

buttons {
    font-size: 20px;
}

.buttons {
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.signupbtn {
    cursor: pointer;
}

.loginbtn {
    color: black;
    background-color: white;
    border-radius: 20px;
    padding: 5px 20px;
    cursor: pointer;
}

.spotifyplaylist>h1 {
    color: white;
    font-size: 20px;
    margin: 10px;
    position: relative;
}

.cardContainer {
    padding: 30px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    overflow-y: auto;
}

.card>* {
    padding-top: 5px;
    margin: 0;
}

.card {
    width: 170px;
    padding: 10px;
    background-color: #252525;
    overflow: hidden;
    transition: all 0.6s ease-in-out
}

.card:hover {
    background-color: rgb(79, 79, 79);
}
.card img {
    width: 100%;
    object-fit: contain;
}

.card h2 {
    font-size: 20px;
}

.card p {
    font-size: 14px;
}

.playbar {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    position: fixed;
    filter: invert(1);
    background: #e2d9d9;
    border-radius: 10px;
    margin: 0;
    padding: 15px;
    height: 50px;
    width: 73.5vw;
    /* position: absolute; */
    bottom: 30px;
}

.songbuttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.songList {
    height: 375px;
    overflow: auto;
    width: 19.5vw;
}

.songList ul {
    padding: 0 11px;
}

.songList ul li {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    padding: 5px;
    border: 2px solid white;
    margin: 12PX 0;
    border-radius: 15px;
    font-size: 12px;
    /* cursor: pointer; */
}

.songList ul li:hover {
    border: 2px solid blue;
}



.playnow img {
    cursor: pointer;
}

.info>div {
    width: 170px;
}

.seekbar {
    height: 4px;
    width: 75vw;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
}

.circle {
    height: 15px;
    width: 15px;
    filter: invert(0);
    border-radius: 20px;
    background-color: rgb(0, 55, 255);
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5s;
}

#play,
#previous,
#next {
    cursor: pointer;
}

.songdetails {
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
}

.songinfo {
    color: rgb(4, 255, 0);
    width: 350px;
    font-size: 1em;
}

.songtime {
    text-align: end;
    color: rgb(4, 255, 0);
}


.volume {
    position: absolute;
    left: 800px;
    bottom: 19px;
    display: flex;
    justify-content: center;
}


@media (max-width: 1400px) {
    .left {
        position: absolute;
        left: -250%;
        transition: all .3s;
        z-index: 1;
        width: 50vw;
        background-color: black;
        padding: 0;
        height: 100vh;
        position: fixed;
        top: 0;
    }

    .container {
        margin: 0;
    }

    .right {
        width: 100vw;
    }

    .songdetails {
        display: flex;
        flex-direction: column;
    }

    .songList {
        height: 62vh;
        width: 40vw;
    }

    .playbar {
        width: 96vw;
    }

    .home {
        margin: 10px 0;
    }

    .hamburger img {
        display: block;
    }

    .hamburger {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .header {
        background-color: black;
    }

    .spotifyplaylist {
        position: fixed;
        top: 70px;
    }

    .right {
        margin-left: 0px;
        position: fixed;
    }

    .library {
        min-height: 83vh;
        position: relative;
        width: 100vw;
        background-color: unset;
        margin-top: 8px;
    }

    .footer {
        grid-template-columns: 85px 100px 100px;
        font-size: 13px;
        padding-left: 0;
        gap: 0px 35px;
        bottom: -60px;
    }

    .close {
        display: block;
        cursor: pointer;
    }


    .songinfo {
        text-align: center;
        width: 400px;
    }

    .hamburger {
        gap: 5vw;
    }

    .hamburger>img {
        width: 35px;
        cursor: pointer;
    }

    .icon {
        width: 45px;
        height: 45px;
    }

    .left .close {
        position: absolute;
        top: 40px;
        right: 40px;
    }

    .cardContainer {
        justify-content: center;
        padding: 0;
        width: 100vw;
        max-height: 68vh;
    }

    .card {
        width: 40vw;
    }


    .playbar {
        bottom: -2px;
        height: 15vh;
        gap: 0;
        justify-content: space-between;
    }

    .songdetails {
        height: 142px;
        justify-content: space-evenly;
    }

    .volume {
        left: 41vw;
        bottom: 0.5vh;
    }

    .spotifyplaylist h1 {
        text-align: center;
        font-size: 37px;
    }



}

@media (max-width: 540px) {
    .footer {
        bottom: 0px;
        grid-template-columns: 55px 75px 95px;
        font-size: 10px;
        padding-left: 0;
        gap: 0px 25px;
    }

    .songList {
        width: 52vw;
    }

}



@media (max-width: 450px) {

    .left {
        width: 100vw;
    }

    .songList {
        width: 80vw;
    }

    .playbar {
        width: 93vw;
    }

    .icon {
        width: 24px;
        height: 24px;
    }

    .footer {
        gap: 0px 35px;
    }

    .volume {
        left: 31vw;
        bottom: 0vh;
    }

    .cardContainer {
        justify-content: center;
        padding: 0;
        height: 60vh;
    }

    .card {
        width: 85vw;
    }

    .footer {
        grid-template-columns: 85px 100px 100px;
        font-size: 13px;
        padding-left: 0;
        gap: 0px 40px;

    }
}


